:root {
  --control-panel-size: 15%;
  --keyboard-size: 40%;
  --vibration-amount: 80;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.CurrentMessage {
  height: calc(100% - var(--control-panel-size) - var(--keyboard-size));
  overflow-y: scroll;
  overflow-wrap: break-word;
}

.ControlPanel {
  height: var(--control-panel-size);
  overflow: scroll;
  overflow-wrap: break-word;
}

.Keyboard {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: var(--keyboard-size);
}

.Keyboard > div {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  width: 10%;
  height: 100%;
}

.BigKey {
  width: 20%;
}

.HugeKey {
  width: 30%;
}
